button.read-more {
  background-color: #ff5722;

  position: absolute;
  right: 32;
  bottom: 32;

  padding: 8px;

  border: none;
  border-radius: 4px;
  outline: none;

  font-family: 'Open Sans', 'sans-serif';
}